<div class="card back dark horizontal {{ class }} {{ cardType }} tier{{ tier }}">
  <div class="contents">
    {{{healthCounter 'max' }}}
    {{#if naming }}<div class="naming">{{ naming }}</div>{{/if}}
    <div class="tier">{{romanize tier }}</div>
  </div>
</div>
