<div class="card back {{ class }} {{ cardType }}">
  <div class="contents">
    <div class="cardType">{{ class }}</div>
    <div class="class">{{ cardType }}</div>
    <div class="logo"><img src="/img/logo.svg" /></div>
    <div class="version">{{version version }}</div>
  </div>
</div>