<div class="card front {{{ cardType }}} {{{ class }}}" id="{{camelCase name }}">
  <div class="contents">
    <header>
      <div class="name">{{{ typeicon }}} {{{ name }}}</div>
      <!-- {{#if type}}
        <div class="abilityType">{{{ typeicon }}}</div>
      {{else}}
        <div class="abilityType"></div>
      {{/if}} -->
    </header>
    <article>
      <div class="indicators">
        <div class="description">
          {{{ class }}} - {{{ type }}}
        </div>
        <div class="risk">
          <strong>{{> icon img='roll_small' }} <span class="symbol">&ge;</span> {{{ risk }}}</strong>
        </div>
        <!-- {{> icon img='roll_small' }}
        {{#is risk 'X'}}
          Varied
        {{else}}
          {{#lt risk 8}}Easy
          {{else}}
            {{#lt risk 11}}Normal
            {{else}}
            Hard
            {{/lt}}
          {{/lt}}
        {{/is}} -->
        <div class="target">
          {{> icon img='target_small' }} {{{ target }}}
        </div>
      </div>
      <div class="abilitytext">
        <div class="child">
          {{#if abilitytext }}
            <div>
              {{{ abilitytext }}}
            </div>
            <br/>
          {{/if}}
          <div class="hit">
            <strong>Success:</strong>
            {{{ hit }}}
            <br/>
          </div>
          {{#if crithit }}
            <div class="crithit">
              <strong>{{> icon img='roll_small' }} <span class="symbol">&ge;</span> 20:</strong> {{{ crithit }}}
            </div>
            <br/>
          {{/if}}
          {{#if miss }}
            <div class="miss">
              <strong>{{> icon img='roll_small' }} <span class="symbol"><</span> {{{ risk }}}:</strong> {{{ miss }}}
            </div>
            <br/>
          {{/if}}
          {{#if critmiss }}
            <div class="critmiss">
              <strong>{{> icon img='roll_small' }} <span class="symbol">&le;</span> 1:</strong> {{{ critmiss }}}
            </div>
          {{/if}}
        </div>
      </div>
    </article>
    <footer>
      <div class="flavortext">{{{ flavortext }}}</div>
      <div class="cardType">Ability</div>
    </footer>
  </div>
</div>