<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="health mdl-badge" data-badge="2">12{{> icon img='hp_small' }}</div>
      <div class="name mdl-badge-left" data-badge="1">{{{ name }}}</div>
    </header>
    <article>
      <!-- <div class="description mdl-badge-left" data-badge="3">Level 1 Starting Adventurer</div> -->
      <div class="adventurertext mdl-badge-left" data-badge="4"><div class="child">
        <!-- <div>{{{ roleplaybonus }}}</div>
        <br/> -->
        <div>
          <strong>Starting abilities:</strong>
          <br/>
          {{{ startingabilities }}}
        </div>
      </div></div>
    </article>
    <footer>
      <div class="flavortext mdl-badge-left">{{{ flavortext }}}</div>
      <div class="cardType">Adventurer</div>
    </footer>
    {{{healthCounter 12}}}
  </div>
</div>