<div class="card front horizontal {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name mdl-badge-left" data-badge="1">{{{ name }}}</div>
      <div class="health">12 {{> icon img='hp_small' }}</div>
    </header>
    <article>
      <div class="adventurertext mdl-badge-left" data-badge="4"><div class="child">
        <div>
          <strong>Starting abilities:</strong>
          <br/>
          {{{ startingabilities }}}
        </div>
      </div></div>
    </article>
    <footer>
      <div class="flavortext mdl-badge-left">{{{ flavortext }}}</div>
    </footer>
    {{{healthCounter 12}}}
  </div>
</div>
