<div class="card back {{ class }} {{ cardType }}">
  <div class="contents">
    <div class="cardType">{{ class }}</div>
    <div class="class">{{romanize tier }}</div>
    <div class="version">{{version version }}</div>
    {{{healthCounter 'max' }}}
  </div>
</div>