<div class="card back horizontal {{ class }} {{ cardType }} tier{{ tier }}">
  <div class="contents">
    <!-- <div class="cardType">{{ class }}</div>
    <div class="class">{{romanize tier }}</div>
    <div class="version">{{version version }}</div> -->
    {{{healthCounter 'max' }}}
    {{#if naming }}<div class="naming">{{ naming }}</div>{{/if}}
  </div>
</div>
