<div class="card front vertical {{{ cardType }}} tier{{ tier }} {{#if tracker}}tracker{{/if}} {{#gt tracker 14}}bottomBar{{/gt}}" id="{{camelCase name }}">
  <div class="contents">
    <header>
      <div class="name">{{{ name }}}</div>
    </header>
    <article>
      <div class="indicators">
        <div>{{{ numberuses }}}</div>
        <div>{{{ usewhen }}}</div>
      </div>
      <br/>
      <div class="abilitytext">{{{ text }}}</div>
    </article>
    <footer>
      <div class="flavortext">{{{ flavortext }}}</div>
    </footer>
    {{#if tracker}}{{{lootCounter tracker}}}{{/if}}
  </div>
</div>