<div class="card front {{{ cardType }}}" id="{{camelCase name }}">
  <div class="contents">
    <header>
      <div class="name">{{{ name }}}</div>
      <div class="abilityType mdl-badge" data-badge="1">{{{romanize tier }}}</div>
    </header>
    <article>
      <div class="indicators">
        <div>{{{ numberuses }}}</div>
        <div>{{{ usewhen }}}</div>
      </div>
      <br/>
      <div class="abilitytext mdl-badge-left" data-badge="3"><div class="child">{{{ text }}}</div></div>
    </article>
    <footer>
      <div class="flavortext">{{{ flavortext }}}</div>
      <div class="cardType">{{ cardType }}</div>
    </footer>
  </div>
</div>