<div class="card back {{ class }} {{ cardType }}">
  <div class="contents">
    <div class="cardType">{{ cardType }}</div>
    <div class="class">{{romanize tier }}</div>
    <div class="version">{{version version }}</div>
    <!-- <img class="svg logo" src="/img/icon/logo.svg" /> -->
  </div>
</div>