<div class="white-background">
  <div class="card front dark horizontal {{ cardType }} {{ class }} tier{{ tier }} {{#gt health 10}}bottomBar{{/gt}} {{#is health '10'}}hp10{{/is}}">
    <div class="contents">
      <header>
        <div class="health">{{> icon img='health_small' }} {{ health }}</div>
        <div class="name">{{{ name }}}</div>
      </header>
      <article>
        <div class="type">Tier {{romanize tier }} {{ class }}</div>
        {{#if ongoing1}}
          <div class="ongoing">{{{ ongoing1 }}}</div>
        {{/if}}
        {{#if ongoing2}}
          <div class="ongoing2">{{{ ongoing2 }}}</div>
        {{/if}}
        {{#if surge}}
          <div class="surge"><strong>Surge: </strong>{{{ surge }}}</div>
        {{/if}}
      </article>
      <footer>
        <div class="flavortext">{{{ flavortext }}}</div>
      </footer>
      {{{healthCounter health}}}
    </div>
  </div>
</div>