<div class="card back vertical {{ cardType }} tier{{ tier }}">
  <div class="contents">
    <h1>{{ cardType }}</h1>
    <div class="tier">{{romanize tier }}</div>
    {{#if naming }}<div class="naming">{{ naming }}</div>{{/if}}
  </div>
</div>